    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo" align="center">Blog Admin</div>

      <div class="sidebar-wrapper">
        <ul class="nav">
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="users">
              <i class="material-icons">person</i>
              <p>users</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="posts">
              <i class="material-icons">content_paste</i>
              <p>posts</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="categories">
              <i class="material-icons">library_books</i>
              <p>categories</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="categories">
              <i class="material-icons">bubble_chart</i>
              <p>forbidden words</p>
            </a>
          </li>

        </ul>
      </div>


    </div>
