{% extends 'Admin_Views/layouts/base.html' %}
{% block main%}
<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Categories Table</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
						   <th>ID</th>
							<th>name</th>
							<th>creator</th>
              <th>created_on</th>
              <th>posts</th>
							<th align="center">Edit</th>
							<th align="center">Delete</th>

                      </thead>
                      <tbody>
                    {% for ct in all_categories  %}
						<tr>
							<td>{{ct.id}}</td>
							<td>{{ct.category_name}}</td>
							<td>{{ct.category_creator}}</td>
              <td>{{ct.created_on}}</td>
              <td><a href="/@dmin/cat_posts/{{ct.id}}"  class="reply">view</a></td>
							<td><a href="/@dmin/edit_category/{{ct.id}}" class="reply">edit</a></td>
							<td><a href="/@dmin/delete_category/{{ct.id}}" class="reply">delete</a></td>
						</tr>
						{% endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

        </div>

<a href="/@dmin/add_category" class="reply">new category</a>
<br>

{%endblock%}