{% extends 'Admin_Views/layouts/base.html' %}
{% block main %}
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <div class="section-row">
      <div class="shadow-section px-5 py-5">
      <div class="post-image">
        <img src={{post.image.url}} class="img-thumbnail rounded" style="max-width: 100%;">
      </div>

      <div class="post-category py-2">
        <a href="{% url 'category_posts' post.category_id %}">{{post.category}}</a>
      </div>
      <h1>{{post.title}}</h1>
      <ul class="post-meta">
        <li><a>{{post.author}}</a></li>
        <li>{{post.created_on}}</li>
        <li><i class="fa fa-comments"></i> {{post.comments.count}}</li>
      </ul>

      <p>{{post.content | safe}}</p>
      <p class="text-muted">{{ post.likes }} likes | {{ post.dislikes }} dislikes</p>

      <div class="post-comments">
        <!-- comment -->
      {% for comment in comments %}
        <div class="media">
          <div class="media-body">
            <div class="media-heading">
              <h4>{{comment.name}}</h4>
              <span class="time">{{comment.created_on}}</span>
            </div>
            <p>{{ comment.body | linebreaks }}</p>
            {% for reply in replies %}
            {% if reply.comment_id == comment.id%}
            <div class="media media-author ml-5 mb-4">
              <div class="media-body">
                <div class="media-heading">
                  <h4>{{reply.name}}</h4>
                  <span class="time">{{ reply.created_on }}</span>
                </div>
                <p>{{ reply.body | linebreaks }}</p>
                <!-- <a href="#" class="reply">Submit</a> -->
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
    

{% endblock main %}