{% extends 'Admin_Views/layouts/base.html' %}

{% block main%}
<form method="POST" enctype="multipart/form-data">
    <!-- {{form.as_p}} -->
    <table>
        <tr>
            <td><label>Category</label></td>
            <td>{{form.category}}</td>
            <td><a href="/@dmin/add_categoryfrompost">+</a></td>
        </tr>
        <tr>
            <td><label>Title</label></td>
            <td>{{form.title}}</td>
        </tr>
        <tr>
            <td><label>Content</label></td>
            <td>{{form.content}}</td>
        </tr>
        <tr>
            <td><label>Image</label></td>
            <td>{{form.image}}</td>
        </tr>
        <tr>
            <td><label>Tags</label></td>
            <td>{{form.tags}}
            <a href="/@dmin/newTag" style="color: green; text-decoration: none; font-weight: bold; font-size: 20px;">+</a></td>
        </tr>
        {% csrf_token %}
        <tr>
            <td><button type="submit" class="reply">Add Post</button></td>
        </tr>
    </table>
</form>
{%endblock%}