{% include 'blogviews/header.html'%}
<body>
    {% block auth %}
        <!-- <div class="alert alert-dark" role="alert"> -->
<!-- @tarek is_authenticated to check if user is login or not  -->
            <!-- {% if user.is_authenticated %}
                <p><a href="{% url 'logout' %}">logout</a>
                <p><a href="/blog/home">Home</a></p> -->

<!-- @tarek is_authenticated to check if user is admin or not  -->
                <!-- {% if user.is_staff %}
                    <p><a href="/admin/">admin</a>
                {% endif %}
            {% else %}
                <p><a href="{% url 'login' %}">login</a>/<a href="{% url 'signup' %}">SignUp</a></p>
            {% endif %}
        </div> -->

        <nav class="navbar navbar-expand-lg navbar-dark" id="menu">
            <a class="navbar-brand" href="/blog/home">Bloggy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav my-2 mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="/blog/home">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Manage Blog</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
              <form method="POST" action = "{% url 'search' "?" %}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <select class="btn btn-secondary dropdown-toggle" name="option">
                  <option value = "content">Content</option>
                  <option value = "title">Title</option>
                  <option value = "author">Author</option>
                  <option value = "category">Category</option>
                  <option value = "tags">Tag</option>
              </select>
              {% csrf_token %}
              <button class="reply" type="submit">Search</button>
              </form>
            </div>
          </nav>

    {% endblock %}
    {% block title %}

    {% endblock title%}
    </div>

    {% block main%}

    {% block sidebar %} 

    {% endblock sidebar%}

    {%endblock main%}
    {% include 'blogviews/footer.html'%}
</body>
</html>

