{% extends 'admin/base1.html' %}
{% load static %}

{% block main %}

<div class="section">
    <div class="container">
        <div class="row justify-content-end">
            <!-- <form method="POST" action = "{% url 'search' '?' %}" class="form-inline float-left mb-5">
                <select class="btn btn btn-dark dropdown-toggle text-light mr-3" name="option">
                    <option value = "content">Content</option>
                    <option value = "title">Title</option>
                    <option value = "author">Author</option>
                    <option value = "category">Category</option>
                    <option value = "tags">Tag</option>
                </select>
                <input class="form-control bg-transparent border-0 text-dark mr-3" type="text" name="textfield" placeholder="Search">
                        {% csrf_token %}
                <button class="reply" type="submit">Search</i></button>
            </form> -->
        
            <!-- <div class="container"> -->
            {% if user.is_authenticated%}
            <button class="reply mb-5"><a href="/blog/newPost">Create a Post</a></button>
            {% endif %}
            </div>
        <!-- </div> -->
    </div>
</div>


<header class="masthead">
    <div class="overlay"></div>
    <div class="container clear-fix">
        <div class="row">
            <div class="col-md-8 col-md-10">
                <div class="site-heading">
                    <h1> {{category}} Category</h1>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
<div class="row main category-page">
    <div class="col-md-8">
        {% for post in post_list %}
      <!-- post content -->
        <div class="section-row">
                <div class="shadow-section px-5 py-5">
                    <div class="post-image">
                        <a href="{% url 'post_detail' post.slug%}"><img src={{post.image.url}} class="img-thumbnail rounded" style="max-width: 100%;"></a>
                    </div>

                    <div class="post-category py-2">
                        <a href="{% url 'category_posts' post.category_id %}">{{post.category}}</a>
                    </div>
                    <h1>{{post.title}}</h1>
                    <ul class="post-meta">
                        <li><a>{{post.author}}</a></li>
                        <li>{{post.created_on}}</li>
                    </ul>
                    <p class="text-muted">{{ post.likes }} likes | {{ post.dislikes }} dislikes</p>
                </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-4 mt-3">
        {% block sidebar %} 
            {% include 'blogviews/sidebar.html' with categories=categories %} 
        {% endblock sidebar%}
    </div>
</div>
</div>



{%endblock main%}