{% extends 'admin/base1.html' %}
{% load static %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

{% block main %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> All Posts in {{post.category}}</h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

{% if user.is_authenticated%}
<a href="/blog/newPost">Create a Post</a>
{% endif %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url 'post_detail' post.slug  %}">
                        <img src="{{post.image.url}}" height="200" width="500">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text text-muted h6">{{ post.category }}</p>
    <!--                    <p class="card-text">{{post.content|slice:":200" }}</p>-->
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-4 mt-3 right">
            {% block sidebar %} 
                {% include 'blogviews/sidebar.html' with categories=categories %} 
            {% endblock sidebar%}
        </div>
    </div>
</div>

{%endblock main%}