{% load static %}
<!-- FOOTER -->
<footer id="footer">
    <!-- container -->
    {% if categories %}
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="/blog/" class="logo"><img src="./img/logo-alt.png" alt="">Bloggy</a>
                    </div>
                    <p style="font-size: 20px;"><b>If your aren’t impressed, you can leave without reading our awesome content or completing a conversion action (e.g., signing up for your newsletter, making a purchase). The main purpose of your About Us page is to give visitors a glimpse into the identity of either a person or business.

                        As users discover your brand, they need to distinguish what sets you apart and makes you… you.</b></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-widget">
                    <h3 class="footer-title">Categories</h3>
                    <div class="category-widget">
                        <ul>
                            {% for category in categories%}
                            <li>
                                <a href="{% url 'category_posts' category.id %}" class="my-1">
                                    {{category.category_name}}
                                    <span>{{category.blog_posts.count}}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        <!-- /row -->
        {% endif %}

        <!-- row -->
        <div class="footer-bottom row">
            <div class="col-md-12 text-center">
                <div class="footer-copyright">
                    Copyright &copy;2020 All rights reserved | ITI 40 Awesome Team
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->

<!-- <script src="{% static 'js/jquery-min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

