{% extends 'admin/base1.html'%}


{% block main%}

<h1>home page</h1>

<h2>{{user.username}}</h2>
<hr>
<hr>
<form method="POST" action = "{% url 'search' user.username %}">
    <input type="text" name="textfield"/>
    <select name="option">
        <option value = "all">All</option>
        <option value = "title">Title</option>
        <option value = "author">Author</option>
        <option value = "category">Category</option>
        <option value = "tags">Tag</option>
    </select>
    {% csrf_token %}
    <button type="submit">Submit</button>
</form>
<hr>
<hr>

<h1>Categories</h1>
{% for cat in cats %}
<h2><a href="{% url 'category_posts' cat.id %}">{{cat.category_name}}</a></h2>
    
        {% if cat.id in checks %}
            <a href= "{% url 'unsubscribe' category_id=cat.id %}">subcribed</a>
        {% else %}
            <a href= "{% url 'subscribe' category_id=cat.id %}">subcribe</a>
        {% endif %}

        <hr>
{% endfor %}
<h3><a href="/blog/newCategory" style="color: green; text-decoration: none; font-weight: bold; font-size: 40px;">+ add Category</a></h3>
<br>
<h1>Posts</h1>
    <ul>
        {% for post in posts %}
        <div style="border: 5px solid black; padding: 40px; opacity: .8; ">
            <a href="{% url 'post_detail' post.0.slug  %}">
                <img src="{{post.0.image.url}}" style="float:right; width:150px; height:100px;">
                <li>{{post.0.title}}</li>
                <li>{{post.0.created_on}}</li>
            </a>
            <span><b>likes:</b> {{post.0.likes}}   ||</span>
            <span> <b>tags:</b> </span>
            {% for tag in post.0.tags.all %}
                <a href="{% url 'search' tag %}"><span> {{tag}}</span></a><span>,</span>
            {% endfor %}
            <br>
            <P style="display: inline;">{{post.1}}</P>
        </div>
        {% endfor %}
    </ul>
<h3><a href="/blog/newCategory" style="color: green; text-decoration: none; font-weight: bold; font-size: 40px;">+ Create Post</a></h3>
<hr>

<a href="{% url 'page' "previous" %}"><button>Previuos</button></a></h1>
{% for c in count %}
<a href="{% url 'page' c %}"><button>{{c}}</button></a></h1>
{% endfor %}
<a href="{% url 'page' "next" %}"><button>Next</button></a>

<h1>test</h1>
{%endblock%}

