{% extends 'admin/base1.html'%}
{% block title%}
<h1 class="page-title">New Category</h1>
{%endblock%}
{% block main%}

<!-- <form method="POST" class="form-group col-9" enctype="multipart/form-data">
    {{form.as_p}}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Add Category</button>
</form> -->

<form method="POST" class="form-group col-9" enctype="multipart/form-data">
    <!-- {{form.as_p}} -->
    <table>
        <tr>
            <td><label>Category Name</label></td>
            <td>{{form.category_name}}</td>
        </tr>
        {% csrf_token %}
        <tr>
            <td><button type="submit" class="reply">Add Category</button></td>
        </tr>
    </table>
</form>

{%endblock%}