{% extends 'admin/base1.html' %} {% block main %}

{% if user.is_authenticated%}
<a href="/blog/newPost">Create a Post</a>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{{ post.title }}</h1>
        <img src="{{post.image.url}}" height="200" width="500">
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text text-muted h6">{{ post.category }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        <p class="text-muted">{{ post.likes }} likes | {{ post.dislikes }} dislikes</p>
        
        {% if user.is_authenticated%}
        <!-- Logged in user liked this post -->
          {% if likes %} 
            <button disabled>Like</button>
            <button><a href="{% url 'increment_dislikes' post.slug %}" style="text-decoration: none; color: black">Dislike</a></button>
          {% elif dislikes %}
            <button><a href="{% url 'increment_likes' post.slug %}" style="text-decoration: none; color: black">Like</a></button>
            <button disabled>Dislike</button>
          {% else %}
            <button><a href="{% url 'increment_likes' post.slug %}" style="text-decoration: none; color: black">Like</a></button>
            <button><a href="{% url 'increment_dislikes' post.slug %}" style="text-decoration: none; color: black">Dislike</a></button>
          {% endif %}
        {% endif %}
         
      </div>
    </div>

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          <p>{{ comment.body | linebreaks }}</p>
          {% if user.is_authenticated%}
          <button class="btn-primary btn" id="reply{{ comment.id }}">Reply</button>
          {% endif%}
          <form method="post" action = "{% url 'comment_reply' post.slug comment.id %}" style="margin-top: 1.3em; display: none;" id="form-reply{{ comment.id }}">
            {{ reply_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg" name="replySubmit">Submit</button>
          </form>

        </div>

        {% for reply in replies %}
          {% if reply.comment_id == comment.id%}

          <div class="replies ml-4" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ reply.name }}
              <span class=" text-muted font-weight-normal">
                {{ reply.created_on }}
              </span>
            </p>
            {{ reply.body | linebreaks }}
          </div>
          {% endif %}
        {% endfor %}

        {% endfor %}
      </div>

    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      {% if user.is_authenticated%}
      <div class="card-body">
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg" name="commentSubmit">Submit</button>
        </form>
      </div>
    </div>
    {% else %}
    <p>You must log in to comment <a href="{% url 'login' %}">Login</a></p>
  </div>
  {% endif %}
</div>

<script>
  const replyBtns = document.querySelectorAll('[id ^= "reply"]');

  replyBtns.forEach(btn => {
    btn.addEventListener('click', (e) => {
      const replyForm = document.querySelector(`[id = "form-${btn.getAttribute('id')}"]`);
      replyForm.style.display = 'block';
    });
  });
</script>
{% endblock main %}