<!-- Sidebar Widgets Column
<div class="col-md-12 float-right ">
    <div class="card my-4">
            <h5 class="card-header bg-primary text-white">Categories</h5>
        <div class="card-body">
            <ul class="list-group">
                {% for category in categories%}
                <a href="{% url 'category_posts' category.id %}" style="text-decoration: none; color: black; margin: px;" class="my-1">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{category.category_name}}
                        <span class="badge badge-danger badge-pill">{{category.blog_posts.count}}</span>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div> -->

<!-- category widget -->
<div class="aside-widget">
    <div class="section-title">
      <h2 class="title">Categories</h2>
    </div>
    {% if user.is_authenticated%}

    <div class="category-widget">
      <ul>
        {% for category in categories%}
        <li class="row">
            <a href="{% url 'category_posts' category.id %}" class="my-1 col-8">
                {{category.category_name}}</a>
                {% if category.id in checks %}
                <a class ="reply col-4"href= "{% url 'unsubscribe' category_id=category.id %}">Unsubscribe</a>
                {% else %}
                <a class="reply col-4" href= "{% url 'subscribe' category_id=category.id %}">Subscribe</a>
                {% endif %}
                <!-- <span class="">{{category.blog_posts.count}}</span> -->
                
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  <!-- /category widget -->

